@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap');

:root {
  background: #101010;
  color: #f7f7f7;
  color-scheme: dark;
}

* {
  box-sizing: border-box;
}

body {
  background: #101010;
  color: #f7f7f7;
  margin: 0;
  font-family: 'Manrope', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
